h1 {
    margin:10px;
    font-family:sans-serif;
}

.background {
    background-color: #555555;
    margin: 10px;
    height: 130px;
    width: 600px;
}

.foreground {
    display: inline-block;
    background-color: #cccccc;
    margin: 6px 0px 6px 6px;
    padding: 0px;
    float:left;
}
.top {
    width: 192px;
    height:90%
}
.middle {
    width: 142.5px;
}

.bottom {
    width: 291px;
    height: 90%;
}

.left {
    height: 35px;
    position: relative;
    top:82px;
}

.odd {
    height:100px;
}

.even {
    height:75px;
    
}



